body{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.cards, .row{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 30px;
    padding: 5px;
}